@font-face {
    font-family: 'LenaFont';
    src: url('fonts/lena-smolcic.ttf') format('truetype');
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("slike/pozadina.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.ime {
    font-family: 'LenaFont', serif;
    font-size: 64px;
    font-weight: normal;
    color: #501d1d; /* tamno bordo */
    text-align: center;
}

.text-box p {
    font-size: 22px;
    line-height: 1.6;
}

.page-olive {
    position: relative;
    min-height: 100vh;
    padding: 20px 0;
}

.page-olive::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(28, 38, 10, 0.6); /* ISTA BOJA KAO PRIJE */
    z-index: 0;
}

.page-olive::before {
    transition: transform 0.8s ease;
    transform: scale(1);
}
jel mozes za svaki napisat koji je :read-onlyje
.page-olive:hover::before {
    transform: scale(1.08);
}

.page-olive > * {
    position: relative;
    z-index: 1;
}

/* NAVIGACIJA */
nav {
    position: relative;   /* ili sticky */
    z-index: 1000;    
    background-color: rgba(234, 213, 213, 0.7);
    padding: 20px 0;
    opacity: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: #6f0d25;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: transform 0.3s ease;
}

nav ul li a:hover {
    transform: scale(1.15);

}

a:hover {
    color: #000000;
}

/* BIJELI KVADRATI */
.text-box {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    background-color: none;
    color: #501d1d;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.text-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("slike/pozadina.jpg"); /* provjeri putanju */
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* 40% */
    z-index: 0;
    pointer-events: none;
}

.text-box > * {
    position: relative;
    z-index: 1;
}
.text-box:hover {
    transform: scale(1.05);
}

.text-box-home {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #2d0404;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

/* MASLINASTA POZADINA */
.page-olive {
    background-color: #1c260a;
    min-height: 100vh;
    padding: 60px 0;
}

/* NASLOVI */
.page-olive h1,
.page-olive h2,
.page-olive h3,
.page-olive p {
    margin: 0;
    border-radius: 0;
    padding: 20px;
}

.text-box-home h1,
.text-box-home h2,
.text-box-home p {
    margin: 0;
    border-radius: 0;
    padding: 20px;
}

.page-olive p, h1, h2, h3 {
    background-color: rgb(164, 138, 104);
    padding: 20px;
}

/* GALERIJE */
.small-gallery {
    display : flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
}

.small-gallery img {
    width: 14%;
    border-radius: 12px;
    border: 4px solid hsl(0, 100%, 21%);
}

.large-work img{
    margin-top: 15px;
    width: 60%;
    border-radius: 12px;
    border: 4px solid hsl(0, 100%, 21%);
}

/* VIDEO */
.video-small {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

video {
    width: 100%;
    border-radius: 12px;
    border: 4px solid #d4af37;
}

.about-me {
    max-width: 900px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about-me img {
    width: 250px;
    border-radius: 15px;
    border: 4px solid hsl(0, 100%, 21%);
}

.text-box a {
    color: hsl(0, 95%, 16%);
    font-weight: bold;
    text-decoration: underline;
}

.text-box a:hover {
    color: hsl(0, 95%, 16%);
}

.about-me img {
    width: 150px;
    border-radius: 15px;
    border: 4px solid hsl(0, 100%, 21%);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.text-box p {
    margin-top: 5px;
}
